#clock{
    height: 400px;
    width: 400px;
    background-image: url('../img/clock.png');
    background-size: cover;
    border: 1px solid black;
    margin: 100px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px inset grey;
    position: relative;
}
#hr,#min,#sec,#point{
    position:absolute;
    transform-origin: bottom;
}
#hr{
    height:120px;
    width:3px;
    background-color:blue;
    left:198.5px;
    top:80px;
}
#min{
    height:150px;
    width:2px;
    background-color:red;
    left: 199px;
    top:50px;
}
#sec{
    height:140px;
    width:1px;
    background-color:darkgreen ;
    left: 199.5px;
    top:60px;
}
#point{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    left: 195px;
    top:195px;
}
